body {
	background: #1b1b1b ;
	color: #fff ;
}

footer {
	text-align: center;
}

a {
	color: #e08300;
}

header {
	text-align: center ;
	text-decoration: none;
}
header h1 {
	font-size: 30pt ;
	text-decoration: none;
	text-align: center ;
}
header h2 {
	text-decoration: none;
	text-align: center ;
}
