body {
	background: #1b1b1b ;
	color: #fff ;
	padding-left: 20vw ;
	padding-right: 20vw ;
}

footer {
	text-align: center ;
}

a {
	color: #e08300 ;
}

header {
	text-align: center ;
	text-decoration: none ;
}

h1 {
	font-size: 30pt ;
	text-decoration: none ;
	text-align: center ;
}

h2 {
	text-decoration: none ;
	text-align: center ;
}
